<section>
  <!-- Footer -->
  <footer class="page-footer font-small blue fixed-bottom" id="footer">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a class="rodape" href="https://twitter.com/joaomariok"> @JoaoMarioK</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</section>

<!-- Scripts -->
<script src="scripts/index.js"></script>
</body>

</html>
